 <nav class="navbar navbar-expand-lg navbar-dark " >
    <div class="container-fluid">
      <div class="col-lg-6 col-12 header_img"> 
      <a class="navbar-brand" href="#">YES Bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="col-lg-6 col-12 header_menu">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" href="#" id="nbutton">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" id="nbutton">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" id="nbutton">Borrow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" id="nbutton">Insure</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" id="nbutton">Invest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" id="nbutton">Contact Us</a>
          </li>
          </ul>
          </div>
       
      </div>
    </div>
  </nav>
  <div class="bg-img">
    <div class="row">
        <div class="col-12 col-md-6 d-none d-sm-none d-md-block">
          <h2 class="motto">Mortgage experts you can<br> trust, a rate you'll love</h2>
          <a class="learn_button" href="about">Learn More</a>
         
        </div>
        <div class="col-12 col-md-6">
    <form  [formGroup]="loginForm" (ngSubmit)="login()" class="home_container">
      <h1>Login</h1>
      <h6>{{aim}}</h6>

      <div class="form-group">
        <label for="account" class="form-label" >Account NO</label>
        <input type="text" class="form-control" id="acno"  formControlName="acno" name="acno">
        <div  *ngIf="(loginForm.get('acno')?.touched || loginForm.get('acno')?.dirty) && loginForm.get('acno')?.errors" class="error">Invalid account no</div>
      </div>
     <!--  <div class="form-group row">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username">
      </div> -->
      <div class="form-group">
        <label for="password" class="form-label" >Password</label>
        <input type="password" class="form-control" id="password" formControlName="pswd" name="pswd">
        <div  *ngIf="(loginForm.get('pswd')?.touched || loginForm.get('pswd')?.dirty) && loginForm.get('pswd')?.errors" class="error">Invalid password</div>
        
      </div>
  
      
  
      <button type="submit" class="btnG">Login</button>
      <div class="forgot"><a href="#">Forgot passwrod?</a> </div>
      
      <button type="submit" class=" btnB btn-primary" (click)=register()>Register</button>
    </form>
  </div>